# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\dadon\OneDrive - Università degli Studi di Modena e Reggio Emilia\Documenti\3anno\tl-cross-course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
